/*
 * The new prefix reads a lot better and is clearer
 */

.FeatureTest--no-flexbox .flex {
  color: red;
} 


.flex {
  color: green;
}



/* Default styles */
body {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}